In [11]:
import fetch
import pandas as pd
pd.set_option('display.max_columns', None)

## Test Fetch with Data Classes and to_df()

In [ ]:
all_players = fetch.players(sport_id=1, season=2024)
someone = all_players[50]
print(someone.full_name, someone.draft_year)
all_players.to_df().head(3)

Nick Anderson 2012

,id,full_name,first_name,last_name,primary_number,birth_country,height,weight,active,current_team_id,primary_position_code,primary_position_abbrev,draft_year,bat_side,pitch_hand,strike_zone_top,strike_zone_bottom
0,671096,Andrew Abbott,Andrew,Abbott,41,USA,"6' 0""",192,True,113,1,P,2021.0,L,L,3.370,1.540
1,682928,CJ Abrams,Paul,Abrams,5,USA,"6' 2""",191,True,120,6,SS,2019.0,L,R,3.480,1.580
2,650556,Bryan Abreu,Bryan,Abreu,52,Dominican Republic,"6' 1""",230,True,117,1,P,NaN,R,R,3.411,1.565

In [13]:
all_teams = fetch.teams()
some_team = all_teams[321]
print(some_team.location_name, some_team.team_name)
all_teams.to_df().head(3)

Windsor Owlz

,id,name,season,venue_id,venue_name,team_code,abbreviation,team_name,location_name,league_id,league_name,division_id,division_name,sport_id,sport_name,parent_org_id,parent_org_name
0,4124,Pensacola Blue Wahoos,2024,4329,Blue Wahoos Stadium,pen,PNS,Blue Wahoos,Pensacola,111.0,Southern League,240.0,Southern League South,12,Double-A,146.0,Miami Marlins
1,3110,Washington Huskies,2024,401,TBD,uwa,UW,Huskies,United States,107.0,College Baseball,NaN,None,22,College Baseball,11.0,Office of the Commissioner
2,3111,Oregon State Beavers,2024,401,TBD,osu,OSU,Beavers,United States,107.0,College Baseball,NaN,None,22,College Baseball,11.0,Office of the Commissioner

In [14]:
all_venues = fetch.venues()
a_venue = all_venues[30]
print(a_venue.name, a_venue.turf_type)
all_venues.to_df().head(3)

HAWKS Baseball Park Chikugo Artificial Turf

,id,name,turf_type,roof_type,left_line,left,left_center,center,right_center,right,right_line,azimuth_ange,elevation
0,5515,Colorado Convention Center,Indoor,Indoor,NaN,NaN,NaN,NaN,None,NaN,None,NaN,NaN
1,5520,Virginia Credit Union Stadium,Artificial Turf,Open,326.0,NaN,NaN,402.0,None,NaN,None,NaN,NaN
2,5525,ABC Supply Stadium,Artificial Turf,Open,345.0,NaN,378.0,400.0,None,NaN,None,NaN,NaN

In [15]:
all_defense_plays = fetch.defense_plays(642731)
a_play = all_defense_plays[190]
print(a_play.fielder_name, a_play.est_success.__round__(2))
all_defense_plays.to_df().head(3)

Estrada, Thairo 0.68

,fielder_id,fielder_name,fielder_team_id,fielder_position,year,month,est_success,outs_above_avg,runs_prevented,is_out
0,642731,"Estrada, Thairo",137,4,2024,6,0.928081,0.071919,0.053940,True
1,642731,"Estrada, Thairo",137,4,2024,6,0.991219,0.008781,0.006586,True
2,642731,"Estrada, Thairo",137,4,2024,6,0.869340,0.130660,0.097995,True

In [16]:
a_gamefeed = fetch.gamefeed(746451)
game_info = a_gamefeed.game
batter_boxscores = a_gamefeed.batter_boxscores
pitcher_boxscores = a_gamefeed.pitcher_boxscores
pitches = a_gamefeed.pitches
print(game_info.away_team_pitcher_name, "vs", game_info.home_team_pitcher_name)
print(batter_boxscores[0].plateappearances)
print(pitcher_boxscores[1].numberofpitches)
print(pitches[0].start_speed, pitches[0].pitch_type)
display(batter_boxscores.to_df().head(2))
display(pitcher_boxscores.to_df().head(2))
display(pitches.to_df().head(5))

Ben Lively vs Kenta Maeda
6
80
89.7 FF

,id,playerid,gameid,flyouts,groundouts,runs,homeruns,strikeouts,baseonballs,hits,atbats,caughtstealing,stolenbases,plateappearances,rbi,doubles,triples,hitbypitch
0,746451647304,647304,746451,0,1,2,1,0,2,3,4,0,1,6,4,0,0,0
1,746451595978,595978,746451,0,0,1,0,2,0,1,3,0,0,3,0,0,0,0

,id,playerid,gameid,groundouts,airouts,runs,strikeouts,baseonballs,hits,hitbypitch,atbats,numberofpitches,inningspitched,wins,losses,earnedruns,battersfaced,outs,balls,strikes
0,746451680704,680704,746451,0,1,1,1,0,1,1,3,8,0.2,0,0,1,4,2,3,5
1,746451594902,594902,746451,5,6,6,4,1,7,0,22,80,5.1,0,0,6,23,16,27,53

,id,inning,ab_number,batter,stand,pitcher,p_throws,team_batting_id,team_fielding_id,result,events,strikes,balls,outs,pitch_type,call,pitch_call,is_strike_swinging,start_speed,extension,zone,spin_rate,x0,z0,breakx,breakz,inducedbreakz,hit_speed,xba,hit_angle,is_barrel,pitch_number,gameid,px,pz,y0,ax,ay,az,vx0,vy0,vz0,hc_x_ft,hc_y_ft,runner_on_1b,runner_on_2b,runner_on_3b,runner_batter_score,runner_1b_score,runner_2b_score,runner_3b_score
0,d16eefe7-e354-454d-8a1e-8fa73ed58d38,1,0,680757,L,628317,R,116,114,Flyout,Flyout,0,0,0,FF,"In play, out(s)","In play, out(s)",False,89.7,5.867763,4,2428,-1.974488,5.486820,7.3,-17.8,15.8,92.3,None,41.0,None,1,746451,-0.524707,2.388190,50.002254,-7.976689,24.503271,-16.169676,5.294778,-130.570291,-4.904585,54.53,84.18,False,False,False,False,False,False,False
1,63bad120-a38f-4d02-8b47-83f9a3e4674f,1,1,682657,L,628317,R,116,114,Home Run,Home Run,1,0,1,FF,Called Strike,Called Strike,False,90.6,5.926100,4,2370,-1.858764,5.580552,5.9,-16.9,16.1,NaN,None,NaN,None,1,746451,-0.467778,2.311891,50.004786,-6.651775,24.319996,-15.542320,4.913504,-131.938074,-5.598068,NaN,NaN,False,False,False,True,False,False,False
2,acdcefe7-0b98-4366-80b6-5f78a9e51690,1,1,682657,L,628317,R,116,114,Home Run,Home Run,1,1,1,FS,Ball,Ball,False,84.1,5.907215,8,1495,-1.985355,5.554985,10.8,-37.6,0.6,NaN,None,NaN,None,2,746451,-0.081849,1.598658,50.000742,-10.335135,20.529310,-31.340959,6.756366,-122.480352,-3.193139,NaN,NaN,False,False,False,True,False,False,False
3,608b3508-be3c-4db2-aece-6d4bff12dfd2,1,1,682657,L,628317,R,116,114,Home Run,Home Run,1,1,1,FS,"In play, run(s)","In play, run(s)",False,84.0,5.871660,8,1378,-1.922007,5.629286,8.6,-38.4,-0.1,98.6,None,22.0,None,3,746451,-0.024470,1.591421,50.005755,-8.388024,20.001445,-31.942927,6.339711,-122.312388,-3.258818,219.77,89.27,False,False,False,True,False,False,False
4,e0bfc36b-6c93-430c-8c7f-19ecc68a7a52,1,2,608070,L,628317,R,116,114,Single,Single,0,1,1,ST,Ball,Ball,False,79.6,5.822553,13,2632,-2.404719,5.596833,-13.6,-42.7,-0.1,NaN,None,NaN,None,1,746451,-1.597541,2.309596,50.005293,10.352671,19.454536,-32.394607,-0.388789,-116.110642,-0.536917,NaN,NaN,False,False,False,False,False,False,False